@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Assets/img/Trangchu/congty.png" />
        </div>
        <div class="col-lg-8">
            <h1>GIỚI THIỆU CÔNG TY</h1>
            <p>CTY Cổ phần Thương Mại và Dịch vụ MEKONG COM (Mekong COM JSC) là một trong số ít công ty Thương mại điện tử đầu tiên tại Việt Nam bắt đầu với Website www.vinabook.com từ tháng 12/2004.</p>
            <p>Từ khi thành lập đến nay, Vinabook.com luôn là Nhà sách trên mạng hàng đầu tại Việt Nam và được ghi nhận từ nhiều cơ quan, tổ chức trong và ngoài nước. Quan trọng hơn hết, Vinabook.com được hàng triệu khách hàng thường xuyên mua sắm trực tuyến đặt sự tin tưởng và tín nhiệm của mình trong suốt hơn 10 năm qua để Vinabook.com luôn được phục vụ và phát triển.</p>
            <p>Với sứ mệnh xóa bỏ mọi giới hạn về không gian trong việc phân phối "tri thức" đến mọi miền đất nước bằng mô hình mua sắm trực tuyến hiện đại, từ miền núi đến hải đảo xa xôi, từ thành phố đến vùng quê và từ Việt Nam đến kiều bào ta ở trên toàn thế giới.</p>
            <p>Mục tiêu của chúng tôi là luôn mở rộng thị trường sách trực tuyến cùng với đà phát triển của công nghệ thông tin. Để thực hiện mục tiêu đó, chúng tôi đã có những nhận thức đúng đắn về vai trò của nguồn nhân lực trong xây dựng và phát triển kinh doanh. Chúng tôi đã và đang không ngừng hoàn thiện hơn nữa môi trường làm việc với các trang thiết bị hiện đại, cung cách làm việc hiệu quả để ngày càng hoàn thiện việc phục vụ khách hàng.</p>
            <h2 style="text-align:center">Một số thành tựu của Vinabook.com</h2>
            <ul>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
                <li>
                    <p>Năm 2007, Vinabook.com được Quỹ đầu tư IDG Việt Nam đầu tư và trở thành Nhà sách trực tuyến đầu tiên tại Việt Nam nhận được đầu tư từ Quỹ đầu tư mạo hiểm IDG</p>
                </li>
            </ul>
        </div>
    </div>
</div>

