
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 ">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Assets/img/lienhe/chamhoi.png" style="width:100%;"/>
                </div>
                <div class="col-lg-8">
                    <span>
                        <b>HOTLINE:1900-6401</b> <br />
                        <p>Tổng đài chăm sóc và Hỗ trợ Khách hàng hoạt động suốt 7 ngày trong tuần từ 7:30 - 20:00</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Assets/img/lienhe/yahoo.png" style="width:100%;" />
                </div>
                <div class="col-lg-8">
                    <span>
                        <b>HỖ TRỢ TRỰC TUYẾN !</b> <br />
                        <p>Tổng đài chăm sóc và Hỗ trợ Khách hàng hoạt động suốt 7 ngày trong tuần từ 7:30 - 20:00</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Assets/img/lienhe/hotro.png" style="width:100%;" />
                </div>
                <div class="col-lg-8">
                    <span>
                        <b>HỖ TRỢ QUA EMAIL</b> <br />
                        <p>Gửi email về để được hỗ trợ. Thời gian trả lời trung bình 16-24 giờ. </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

