
@{
    ViewBag.Title = "MuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <img class="mx-auto" src="~/Assets/img/Muahang/shoppingcart.png" style="width: 350px; height: 350px;" />
    </div>
    <div class="row">
            <h1 class="mx-auto" >ĐẶT HÀNG THÀNH CÔNG!</h1>
         
    </div>
    <div class="row">
        <P class="mx-auto">Một email thông báo vừa được gửi tới email đăng ký tài khoản của bạn.</P>
        <P class="mx-auto">Cám ơn bạn đã đặt hàng. Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất.</P>
    </div>
        <div class="text-center">
            <a href="@Url.Action("Index","HomePage")" class="btn btn-success btn-lg">QUAY LẠI TRANG CHỦ </a>
        </div>
</div>

